In [9]:
import pandas as pd
import numpy as np
data=pd.read_csv("company1.csv")
data["salary"]=data["salary"].replace(np.nan,26000)# to replace in particuler cell
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F  26000.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M  26000.0
6  EMP02     rohit      M  25000.0

In [10]:
data["Bonus"] = (data["salary"]/100)*20#add bonus column + calculation
print(data)

    EEID      Name gender   salary   Bonus
0  EMP01    ayushi      F  26000.0  5200.0
1  EMP02     rohit      M  25000.0  5000.0
2  EMP03  pranjali    NaN  27000.0  5400.0
3  EMP01    ayushi      F  20000.0  4000.0
4  EMP05       NaN      M  25000.0  5000.0
5  EMP06     rohit      M  26000.0  5200.0
6  EMP02     rohit      M  25000.0  5000.0

In [17]:
data={"months":["january","february","march","april"]}
a=pd.DataFrame(data)
print(a)
def extract (value):
    return value[0:3]

a["short month"]=a["months"].map(extract)#return short name 
print(a)

     months
0   january
1  february
2     march
3     april
     months short month
0   january         jan
1  february         feb
2     march         mar
3     april         apr