In [7]:
import pandas as pd
data=pd.read_excel("ESD.xlsx")
#print(data)
data.loc[(data["Bonus %"]== 0),"GetBonus"]="NO Bonus" # add column 
data.loc[(data["Bonus %"] > 0),"GetBonus"]= "Bonus"
print(data.head(10))

     EEID        Full Name                 Job Title  Department  \
0  E02387      Emily Davis                Sr. Manger          IT
1  E04105    Theodore Dinh       Technical Architect          IT
2  E02572     Luna Sanders                  Director     Finance
3  E02832  Penelope Jordan  Computer Systems Manager          IT
4  E01639        Austin Vo               Sr. Analyst     Finance
5  E00644     Joshua Gupta    Account Representative       Sales
6  E01550      Ruby Barnes                   Manager          IT
7  E04332      Luke Martin                   Analyst     Finance
8  E04533    Easton Bailey                   Manager  Accounting
9  E03838  Madeline Walker               Sr. Analyst     Finance

            Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0  Research & Development  Female      Black   55 2016-04-08         141604
1           Manufacturing    Male      Asian   59 1997-11-29          99975
2     Speciality Products  Female  Caucasian   50 2006-10-26         163099
3           Manufacturing  Female  Caucasian   26 2019-09-27          84913
4           Manufacturing    Male      Asian   55 1995-11-20          95409
5               Corporate    Male      Asian   57 2017-01-24          50994
6               Corporate  Female  Caucasian   27 2020-07-01         119746
7           Manufacturing    Male      Black   25 2020-05-16          41336
8           Manufacturing    Male  Caucasian   29 2019-01-25         113527
9     Speciality Products  Female  Caucasian   34 2018-06-13          77203

   Bonus %        Country       City  Exit Date  GetBonus
0     0.15  United States    Seattle 2021-10-16     Bonus
1     0.00          China  Chongqing        NaT  NO Bonus
2     0.20  United States    Chicago        NaT     Bonus
3     0.07  United States    Chicago        NaT     Bonus
4     0.00  United States    Phoenix        NaT  NO Bonus
5     0.00          China  Chongqing        NaT  NO Bonus
6     0.10  United States    Phoenix        NaT     Bonus
7     0.00  United States      Miami 2021-05-20  NO Bonus
8     0.06  United States     Austin        NaT     Bonus
9     0.00  United States    Chicago        NaT  NO Bonus

In [19]:
import pandas as pd
df=pd.read_csv("customers.csv")
#print(df.head(15))
df["full Name"]= df["contactLastName"]+" "+df["contactFirstName"]# merge column
print(df.head(10))

   customerNumber                  customerName  contactLastName  \
0             103             Atelier graphique          Schmitt
1             112            Signal Gift Stores             King
2             114    Australian Collectors, Co.         Ferguson
3             119             La Rochelle Gifts          Labrune
4             121            Baane Mini Imports       Bergulfsen
5             124  Mini Gifts Distributors Ltd.           Nelson
6             125            Havel & Zbyszek Co  Piestrzeniewicz
7             128          Blauer See Auto, Co.           Keitel
8             129               Mini Wheels Co.           Murphy
9             131             Land of Toys Inc.              Lee

  contactFirstName              phone                  addressLine1  \
0          Carine          40.32.2555                54, rue Royale
1             Jean         7025551838               8489 Strong St.
2            Peter       03 9520 4555             636 St Kilda Road
3          Janine          40.67.8555  67, rue des Cinquante Otages
4           Jonas          07-98 9555        Erling Skakkes gate 78
5            Susan         4155551450               5677 Strong St.
6         Zbyszek       (26) 642-7555               ul. Filtrowa 68
7           Roland  +49 69 66 90 2555                 Lyonerstr. 34
8            Julie         6505555787     5557 North Pendale Street
9             Kwai         2125557818       897 Long Airport Avenue

  addressLine2           city     state postalCode    country  \
0          NaN         Nantes       NaN      44000     France
1          NaN      Las Vegas        NV      83030        USA
2      Level 3      Melbourne  Victoria       3004  Australia
3          NaN         Nantes       NaN      44000     France
4          NaN        Stavern       NaN       4110     Norway
5          NaN     San Rafael        CA      97562        USA
6          NaN       Warszawa       NaN     01-012     Poland
7          NaN      Frankfurt       NaN      60528    Germany
8          NaN  San Francisco        CA      94217        USA
9          NaN            NYC        NY      10022        USA

   salesRepEmployeeNumber  creditLimit                 full Name
0                  1370.0      21000.0           Schmitt Carine
1                  1166.0      71800.0                 King Jean
2                  1611.0     117300.0            Ferguson Peter
3                  1370.0     118200.0           Labrune Janine
4                  1504.0      81700.0         Bergulfsen Jonas
5                  1165.0     210500.0              Nelson Susan
6                     NaN          0.0  Piestrzeniewicz Zbyszek
7                  1504.0      59700.0             Keitel Roland
8                  1165.0      64600.0              Murphy Julie
9                  1323.0     114900.0                  Lee Kwai

In [2]:
import pandas as pd
df=pd.read_csv("customers.csv")
#print(df.head(15))
df["full Name"]= df["contactLastName"].str.capitalize()+" "+df["contactFirstName"]# merge column ,upper/capitalize/
print(df)

     customerNumber                    customerName contactLastName  \
0               103               Atelier graphique         Schmitt
1               112              Signal Gift Stores            King
2               114      Australian Collectors, Co.        Ferguson
3               119               La Rochelle Gifts         Labrune
4               121              Baane Mini Imports      Bergulfsen
..              ...                             ...             ...
117             486    Motor Mint Distributors Inc.         Salazar
118             487        Signal Collectibles Ltd.          Taylor
119             489  Double Decker Gift Stores, Ltd           Smith
120             495            Diecast Collectables          Franco
121             496               Kelly's Gift Shop         Snowden

    contactFirstName           phone                  addressLine1  \
0            Carine       40.32.2555                54, rue Royale
1               Jean      7025551838               8489 Strong St.
2              Peter    03 9520 4555             636 St Kilda Road
3            Janine       40.67.8555  67, rue des Cinquante Otages
4             Jonas       07-98 9555        Erling Skakkes gate 78
..               ...             ...                           ...
117             Rosa      2155559857             11328 Douglas Av.
118              Sue      4155554312             2793 Furth Circle
119          Thomas   (171) 555-7555               120 Hanover Sq.
120          Valarie      6175552555                6251 Ingle Ln.
121             Tony   +64 9 5555500            Arenales 1938 3'A'

    addressLine2          city     state postalCode      country  \
0            NaN        Nantes       NaN      44000       France
1            NaN     Las Vegas        NV      83030          USA
2        Level 3     Melbourne  Victoria       3004    Australia
3            NaN        Nantes       NaN      44000       France
4            NaN       Stavern       NaN       4110       Norway
..           ...           ...       ...        ...          ...
117          NaN  Philadelphia        PA      71270          USA
118          NaN      Brisbane        CA      94217          USA
119          NaN        London       NaN    WA1 1DP           UK
120          NaN        Boston        MA      51003          USA
121          NaN    Auckland         NaN        NaN  New Zealand

     salesRepEmployeeNumber  creditLimit          full Name
0                    1370.0      21000.0    Schmitt Carine
1                    1166.0      71800.0          King Jean
2                    1611.0     117300.0     Ferguson Peter
3                    1370.0     118200.0    Labrune Janine
4                    1504.0      81700.0  Bergulfsen Jonas
..                      ...          ...                ...
117                  1323.0      72600.0       Salazar Rosa
118                  1165.0      60300.0         Taylor Sue
119                  1501.0      43300.0      Smith Thomas
120                  1188.0      85100.0     Franco Valarie
121                  1612.0     110000.0       Snowden Tony

[122 rows x 14 columns]

In [5]:
df.loc[(df["creditLimit"]>=50000,"Status")]="Exceed"
df.loc[(df["creditLimit"]<50000,"Status")] ="Not Exceed"
print(df)

     customerNumber                    customerName contactLastName  \
0               103               Atelier graphique         Schmitt
1               112              Signal Gift Stores            King
2               114      Australian Collectors, Co.        Ferguson
3               119               La Rochelle Gifts         Labrune
4               121              Baane Mini Imports      Bergulfsen
..              ...                             ...             ...
117             486    Motor Mint Distributors Inc.         Salazar
118             487        Signal Collectibles Ltd.          Taylor
119             489  Double Decker Gift Stores, Ltd           Smith
120             495            Diecast Collectables          Franco
121             496               Kelly's Gift Shop         Snowden

    contactFirstName           phone                  addressLine1  \
0            Carine       40.32.2555                54, rue Royale
1               Jean      7025551838               8489 Strong St.
2              Peter    03 9520 4555             636 St Kilda Road
3            Janine       40.67.8555  67, rue des Cinquante Otages
4             Jonas       07-98 9555        Erling Skakkes gate 78
..               ...             ...                           ...
117             Rosa      2155559857             11328 Douglas Av.
118              Sue      4155554312             2793 Furth Circle
119          Thomas   (171) 555-7555               120 Hanover Sq.
120          Valarie      6175552555                6251 Ingle Ln.
121             Tony   +64 9 5555500            Arenales 1938 3'A'

    addressLine2          city     state postalCode      country  \
0            NaN        Nantes       NaN      44000       France
1            NaN     Las Vegas        NV      83030          USA
2        Level 3     Melbourne  Victoria       3004    Australia
3            NaN        Nantes       NaN      44000       France
4            NaN       Stavern       NaN       4110       Norway
..           ...           ...       ...        ...          ...
117          NaN  Philadelphia        PA      71270          USA
118          NaN      Brisbane        CA      94217          USA
119          NaN        London       NaN    WA1 1DP           UK
120          NaN        Boston        MA      51003          USA
121          NaN    Auckland         NaN        NaN  New Zealand

     salesRepEmployeeNumber  creditLimit          full Name      Status
0                    1370.0      21000.0    Schmitt Carine   Not Exceed
1                    1166.0      71800.0          King Jean      Exceed
2                    1611.0     117300.0     Ferguson Peter      Exceed
3                    1370.0     118200.0    Labrune Janine       Exceed
4                    1504.0      81700.0  Bergulfsen Jonas       Exceed
..                      ...          ...                ...         ...
117                  1323.0      72600.0       Salazar Rosa      Exceed
118                  1165.0      60300.0         Taylor Sue      Exceed
119                  1501.0      43300.0      Smith Thomas   Not Exceed
120                  1188.0      85100.0     Franco Valarie      Exceed
121                  1612.0     110000.0       Snowden Tony      Exceed

[122 rows x 15 columns]