In [2]:
import pandas as pd
data=pd.read_csv("C:/Users/BAHRIA/OneDrive/talha mazhar/OneDrive/Desktop/all folder/Data analyst/Datasets-main/company1.csv")
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0

In [4]:
print(data.duplicated())

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [6]:
print(data["EEID"].duplicated())

0    False
1    False
2    False
3     True
4    False
5    False
6     True
Name: EEID, dtype: bool

In [7]:
print(data["EEID"].duplicated().sum())

2

In [10]:
print(data.drop_duplicates("EEID"))#remove duplicates

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN