In [2]:
import pandas as pd
data=pd.read_csv("company1.csv")
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0

In [3]:
print(data.isnull().sum())

EEID      0
Name      1
gender    1
salary    2
dtype: int64

In [4]:
print(data.dropna())

    EEID    Name gender   salary
1  EMP02   rohit      M  25000.0
3  EMP01  ayushi      F  20000.0
6  EMP02   rohit      M  25000.0

In [8]:
print(data)
print(data["salary"].mean())

    EEID      Name gender   salary
0  EMP01    ayushi      F  30000.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M  30000.0
6  EMP02     rohit      M  25000.0
26000.0

In [10]:
import numpy as np
print(data.replace(np.nan,26000))
print(data["salary"].mean())

    EEID      Name gender   salary
0  EMP01    ayushi      F  30000.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali  26000  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05     26000      M  25000.0
5  EMP06     rohit      M  30000.0
6  EMP02     rohit      M  25000.0
26000.0

In [11]:
data["salary"]=data["salary"].replace(np.nan,26000)# to replace in particuler cell
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F  30000.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M  30000.0
6  EMP02     rohit      M  25000.0

In [12]:
print(data.fillna(method = "bfill"))# fill backward niche wale values ko uper fill krna

    EEID      Name gender   salary
0  EMP01    ayushi      F  30000.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali      F  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05     rohit      M  25000.0
5  EMP06     rohit      M  30000.0
6  EMP02     rohit      M  25000.0

C:\Users\BAHRIA\AppData\Local\Temp\ipykernel_548\4162848924.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(data.fillna(method="bfill"))# fill backward niche wale values ko uper fill krna

In [13]:
print(data.fillna(method = "ffill"))# fill forward uper wale values ko niche fill krna

    EEID      Name gender   salary
0  EMP01    ayushi      F  30000.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali      M  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05    ayushi      M  25000.0
5  EMP06     rohit      M  30000.0
6  EMP02     rohit      M  25000.0

C:\Users\BAHRIA\AppData\Local\Temp\ipykernel_548\3439171367.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(data.fillna(method = "ffill"))# fill forward uper wale values ko niche fill krna