In [7]:
import pandas as pd

data1={"Emp ID":["ED1","ED2","ED3","ED4","ED5","ED6"],
       "Name":["AB1","AB2","AB3","AB4","AB5","AB6"],
       "Age":[23,24,25,26,27,29]}
data2={"Emp ID":["ED1","ED2","ED3","ED4","ED5","ED6"],
       "Salary":[23000,24000,25000,26000,27000,29000]}
d1=pd.DataFrame(data1)

d2=pd.DataFrame(data2)
print(d1)
print()
print(d2)

  Emp ID Name  Age
0    ED1  AB1   23
1    ED2  AB2   24
2    ED3  AB3   25
3    ED4  AB4   26
4    ED5  AB5   27
5    ED6  AB6   29

  Emp ID  Salary
0    ED1   23000
1    ED2   24000
2    ED3   25000
3    ED4   26000
4    ED5   27000
5    ED6   29000

In [8]:
print(pd.merge(d1,d2,on = "Emp ID"))#merge both data with same reference

  Emp ID Name  Age  Salary
0    ED1  AB1   23   23000
1    ED2  AB2   24   24000
2    ED3  AB3   25   25000
3    ED4  AB4   26   26000
4    ED5  AB5   27   27000
5    ED6  AB6   29   29000

In [6]:
import pandas as pd

data1={"Emp ID":["ED1","ED2","ED3","ED4","ED5","ED6"],
       "Name":["AB1","AB2","AB3","AB4","AB5","AB6"],
       "Age":[23,24,25,26,27,29]}
data2={"Emp ID":["ED1","ED7","ED3","ED4","ED8","ED6"],
       "Salary":[23000,24000,25000,26000,27000,29000]}
d1=pd.DataFrame(data1)

d2=pd.DataFrame(data2)
print(d1)
print()
print(d2)

  Emp ID Name  Age
0    ED1  AB1   23
1    ED2  AB2   24
2    ED3  AB3   25
3    ED4  AB4   26
4    ED5  AB5   27
5    ED6  AB6   29

  Emp ID  Salary
0    ED1   23000
1    ED7   24000
2    ED3   25000
3    ED4   26000
4    ED8   27000
5    ED6   29000

In [7]:
print(pd.merge(d1,d2,on = "Emp ID"))#merge both data with same reference (only basis of comman ) eg Emp ID

  Emp ID Name  Age  Salary
0    ED1  AB1   23   23000
1    ED3  AB3   25   25000
2    ED4  AB4   26   26000
3    ED6  AB6   29   29000

In [8]:
print(pd.merge(d1,d2,on = "Emp ID", how = "left"))#merge both data with same reference and all values of left written colum eg Emp ID

  Emp ID Name  Age   Salary
0    ED1  AB1   23  23000.0
1    ED2  AB2   24      NaN
2    ED3  AB3   25  25000.0
3    ED4  AB4   26  26000.0
4    ED5  AB5   27      NaN
5    ED6  AB6   29  29000.0

In [9]:
print(pd.merge(d2,d1,on = "Emp ID", how = "left"))#merge both data with same reference and all values of left written column  eg Emp ID

  Emp ID  Salary Name   Age
0    ED1   23000  AB1  23.0
1    ED7   24000  NaN   NaN
2    ED3   25000  AB3  25.0
3    ED4   26000  AB4  26.0
4    ED8   27000  NaN   NaN
5    ED6   29000  AB6  29.0

In [10]:
print(pd.merge(left= d1,right = d2,on = "Emp ID", how = "left"))#merge both data with same reference and all values of left written colum eg Emp ID

  Emp ID Name  Age   Salary
0    ED1  AB1   23  23000.0
1    ED2  AB2   24      NaN
2    ED3  AB3   25  25000.0
3    ED4  AB4   26  26000.0
4    ED5  AB5   27      NaN
5    ED6  AB6   29  29000.0

In [11]:
print(pd.merge(left= d1,right = d2,on = "Emp ID", how = "right"))#merge both data with same reference and all values of left written colum eg Emp ID

  Emp ID Name   Age  Salary
0    ED1  AB1  23.0   23000
1    ED7  NaN   NaN   24000
2    ED3  AB3  25.0   25000
3    ED4  AB4  26.0   26000
4    ED8  NaN   NaN   27000
5    ED6  AB6  29.0   29000

In [18]:
data1={"Emp ID":["ED1","ED2","ED3","ED4","ED5","ED6"],
       "Name":["AB1","AB2","AB3","AB4","AB5","AB6"],
       "Age":[23,24,25,26,27,29]}
data2={"Emp ID":["ED7","ED8","ED9","ED10","ED11","ED12"],
       "Name":["ABC","ABC","ABC","ABC","ABC","ABC"],
       "Age":[23,24,25,26,27,29]}

d1=pd.DataFrame(data1)

d2=pd.DataFrame(data2)

In [20]:
print(pd.concat([d1,d2]))

  Emp ID Name  Age
0    ED1  AB1   23
1    ED2  AB2   24
2    ED3  AB3   25
3    ED4  AB4   26
4    ED5  AB5   27
5    ED6  AB6   29
0    ED7  ABC   23
1    ED8  ABC   24
2    ED9  ABC   25
3   ED10  ABC   26
4   ED11  ABC   27
5   ED12  ABC   29

In [ ]:
import