In [3]:
import pandas as pd

data1={"Emp ID":["ED1","ED2","ED3","ED4","ED5","ED6"],
       "Name":["AB1","AB2","AB3","AB4","AB5","AB6"],
       "Age":[23,24,25,26,27,29]}
data2={"Emp ID":["ED1","ED2","ED3","ED4","ED5","ED6"],
       "Salary":[23000,24000,25000,26000,27000,29000]}
d1=pd.DataFrame(data1)

d2=pd.DataFrame(data2)
print(d1)
print()
print(d2)

print(pd.merge(d1,d2,on = "Emp ID"))

  Emp ID Name  Age
0    ED1  AB1   23
1    ED2  AB2   24
2    ED3  AB3   25
3    ED4  AB4   26
4    ED5  AB5   27
5    ED6  AB6   29

  Emp ID  Salary
0    ED1   23000
1    ED2   24000
2    ED3   25000
3    ED4   26000
4    ED5   27000
5    ED6   29000
  Emp ID Name  Age  Salary
0    ED1  AB1   23   23000
1    ED2  AB2   24   24000
2    ED3  AB3   25   25000
3    ED4  AB4   26   26000
4    ED5  AB5   27   27000
5    ED6  AB6   29   29000

In [7]:
import pandas as pd

data1={"Fruits":["mango","apple","banana","papaya"],
       "Price":[100,150,50,35],
       "Quantity":[15,10,10,3]}
d1=pd.DataFrame(data1)
print(d1)
d2=d1.copy()
d2.loc[0,"Price"]=120   # for changes in specific location
d2.loc[1,"Price"]=175
d2.loc[3,"Price"]=30
d2.loc[0,"Quantity"]=12
d2.loc[1,"Quantity"]=15
d2.loc[3,"Quantity"]=5

print(d2)

   Fruits  Price  Quantity
0   mango    100        15
1   apple    150        10
2  banana     50        10
3  papaya     35         3
   Fruits  Price  Quantity
0   mango    120        12
1   apple    175        15
2  banana     50        10
3  papaya     30         5

In [9]:
print(d1.compare(d2))  # to identify changes only

   Price        Quantity
    self  other     self other
0  100.0  120.0     15.0  12.0
1  150.0  175.0     10.0  15.0
3   35.0   30.0      3.0   5.0

In [12]:
print(d1.compare(d2,align_axis=0))  # to identify changes at prticular location

         Price  Quantity
0 self   100.0      15.0
  other  120.0      12.0
1 self   150.0      10.0
  other  175.0      15.0
3 self    35.0       3.0
  other   30.0       5.0

In [13]:
print(d1.compare(d2,keep_equal=True))

  Price       Quantity
   self other     self other
0   100   120       15    12
1   150   175       10    15
3    35    30        3     5

In [14]:
print(d1.compare(d2,keep_equal=False))

   Price        Quantity
    self  other     self other
0  100.0  120.0     15.0  12.0
1  150.0  175.0     10.0  15.0
3   35.0   30.0      3.0   5.0

In [15]:
print(d1.compare(d2,keep_shape=True)) #return complete data or have equal value

  Fruits        Price        Quantity
    self other   self  other     self other
0    NaN   NaN  100.0  120.0     15.0  12.0
1    NaN   NaN  150.0  175.0     10.0  15.0
2    NaN   NaN    NaN    NaN      NaN   NaN
3    NaN   NaN   35.0   30.0      3.0   5.0

In [17]:
print(d1.compare(d2,keep_shape=False))

   Price        Quantity
    self  other     self other
0  100.0  120.0     15.0  12.0
1  150.0  175.0     10.0  15.0
3   35.0   30.0      3.0   5.0